/*Selecciona la primer sección que se encuentre dentro de una etiqueta main*/

/*main section{
    color: red;
    font-size: 20px;
}*/

/*main > section {
    color: red;
    font-size: 20px;
}*/
/*
main section:first-of-type{
    color: red;
    font-size: 20px;
}
*/
main > section:first-of-type{
    color: red;
    font-size: 20px;
}

*[class*="btn"]{
    text-transform: uppercase;
}

.flush{
    padding: 1rem;
}
.flush li:not(:last-of-type){
    border-bottom:1px solid #333
}